@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
    background-color: theme('colors.primary');
    color: theme('colors.font');
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
  @apply w-full flex justify-between items-center z-[100] px-[10%] py-5 left-0 top-0 ;
}
.logo {
  @apply text-[25px] text-font no-underline font-semibold;
}
.navbar {
  display: flex;
  flex-wrap: wrap
}
.navbar a {
  @apply text-lg text-font no-underline font-medium ml-[35px];
}
.navbar a:hover,
.navbar a.active {
  @apply text-secondary;
}
.footer {
  @apply relative w-full bottom-0 items-center z-[100] px-[40%] py-0 mt-auto;
}
.home-content {
  @apply max-w-[600px];
}
.home-content h1 {
  @apply text-[56px] font-bold leading-[1.2] text-font;
}
.home-content h3 {
  @apply text-[32px] font-bold text-secondary;
}
.home-content p {
  @apply text-base mt-5 mb-10 mx-0 text-font;
}
.home-content .btn-box {
  @apply flex justify-between w-[345px] h-[50px];
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: theme('colors.primary');
    border: 2px solid theme('colors.primary');
    border-radius: 8px;
    font-size: 19px;
    color: theme('colors.primary');
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: theme('colors.primary');
    z-index: -1;
    transition: 0.5s;
}
.btn-box a:hover {
    color: theme('colors.secondary');
}

.btn-box a:hover::before {
    width: 100%;
}
.footer-icons {
  @apply absolute w-[170px] flex justify-between bottom-10;
}
.footer-icons a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid theme('colors.secondary');
    border-radius: 50%;
    font-size: 20px;
    color: theme('colors.secondary');
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.footer-icons a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: theme('colors.secondary');
    z-index: -1;
    transition: .5s;
}
.footer-icons a:hover {
    color: theme('colors.primary');
}

.footer-icons a:hover::before {
    width: 100%;
    height: 100%;
}

.image {
  @apply h-screen flex items-center px-[10%] py-0;
}
.image-content {
  @apply px-[10%] py-0;
}

.children-container {
  @apply pt-[12%] pb-[15vh] px-[10%] z-[-1];
}